name: Run caseTracker.py
    
on:
  schedule:
    - cron: "5 0 * * *" #runs at 00:00 UTC everyday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: Setup Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
      - name: Execute .py script # run the run.py to get the latest data
        run: |
          python caseTracker.py ./

      - name: Commit files
        id: commit
        run: |
          git config --global user.name "tugangui"
          git config --global user.email "tugangui@g.ucla.edu"

          git add casetracker.sql git commit -m "New casetracker.sql"
          git push
