name: Run caseTracker.py
    
on: 
  push:
  schedule:
    - cron: "0 4 * * 0" #runs at 4am every Sunday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: Setup Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas
          pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
      - name: Execute .py script # run the run.py to get the latest data
        run: |
          python caseTracker2.py ./

      - name: Commit files
        id: commit
        run: |
          git config --global user.name "tugangui"
          git config --global user.email "tugangui@g.ucla.edu"

          git add casetracker.sql 
          git commit -m "New casetracker.sql"
          git push
      
      - name: Push file to mysql repo
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'casetracker.sql'
          destination_branch: 'master'
          destination_repo: 'seitay/mysql_queries'
          destination_folder: '/'
          user_email: 'tugangui@g.ucla.edu'
          user_name: 'tugangui'
          commit_message: 'New casetracker.sql'
      - name: Slack 
        uses: craftech-io/slack-action@v1
        with:
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
